#divHome{
    width: 100vw;
    background-color: var(--darker-background-color);
    display: flex;
}
#sectionEvents{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--darker-background-color);
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
    margin-top: 205px;
    margin-left: 170px;
}
#sectionEvents h2{
    color: var(--basic-letter-color);
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
}
.eventDiv{
    display: flex;
    flex-direction: column;
    border: solid 3px var(--basic-border-color);
    background-color: var(--basic-background-color);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-left: 70px;
}
.upperEventDiv {
    width: 700px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}
.eventImage{
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
.eventDivInfo{
    margin-top: 15px;
    margin-bottom: 30px;
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
    font-weight: 600;
    color:  var(--basic-letter-color);
    font-size: larger;
}
.eventDate{
    font-weight: 700;
    line-height: 1.3;
}
.dateP{
    color: black;
    font-weight: 500;
}
.eventLocation{
    font-weight: 700;
    line-height: 1.3;
}
.locationP{
    color: black;
    font-weight: 500;
}
.selectEvent{
    font-size: 25px;
}
/*1050px*/
@media(max-width: 1050px){
    #sectionEvents h2{
        font-size: 35px;
    }
    .upperEventDiv {
        width: 500px;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .eventImage{
        width: 140px;
        height: 140px;
        border-radius: 10px;
    }
    .eventDivInfo{
        margin-top: 15px;
        margin-bottom: 30px;
        width: 300px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        gap: 10px;
        font-weight: 600;
        color:  var(--basic-letter-color);
        font-size: medium;
    }
    .selectEvent{
        font-size: 21px;
    }
}

@media(max-width: 890px){
    .eventDiv{
        width: 500px;
        margin-left: 0px;
    }
}

/*810px*/
@media(max-width: 810px){
    .upperEventDiv{
        width: 450px;
        gap: 60px;
    }
    .eventImage{
        width: 140px;
        height: 140px;
    }
    .eventDivInfo{
        width: 200px;
    }
    .eventDiv {
        margin-left: 0px;
    }
}

/*760px*/
@media(max-width: 760px){
    #sectionEvents{
        margin-left: 120px;
    }
    .upperEventDiv{
        width: 350px;
        gap: 0px;
        justify-content: space-around;
    }
    .eventImage{
        width: 100px;
        height: 100px;
    }
    .eventDivInfo{
        width: 150px;
    }
    .eventDivInfo h3{
        font-size: medium;
    }
    .eventDate, .dateP, .eventLocation, .locationP{
        font-size: small;
    }
    .eventDiv {
        margin-left: 70px;
        width: 350px;
    }
    .selectEvent{
        font-size: 16px;
    }
}

/*600px*/
@media(max-width: 600px){
    #sectionEvents h2{
        font-size: 30px;
    }
    .upperEventDiv{
        width: 100%;
        justify-content: space-around;
    }
    .eventImage{
        width: 100px;
        height: 100px;
    }
    .eventDivInfo{
        width: 120px;
    }
    .eventDate, .dateP, .eventLocation, .locationP{
        font-size: smaller;
    }
    .eventDiv {
        margin-left: 30px;
        width: 350px;
    }
    .selectEvent{
        font-size: 13px;
    }
}

/*550px*/
@media(max-width: 550px){

    #sectionEvents{
        padding-left: 30px;
        margin-left: 10px;
        margin-top: 170px;
 } 
    #sectionEvents h2{
        font-size: 25px;
        margin-left: 100px;
    }
    .upperEventDiv{
        width: 290px;
        margin-left: 0px;
        justify-content: space-around;
    }
    .eventImage{
        width: 80px;
        height: 80px;
    }
    .eventDivInfo{
        width: 120px;
    }
    .eventDate, .dateP, .eventLocation, .locationP{
        font-size: smaller;
    }
    .eventDiv {
        margin-left: 110px;
        width: 290px;
        padding: 0px;
    }
}

/*450px*/
@media(max-width: 450px){
    #sectionEvents h2{
        margin-left: 70px;
    }
    #sectionEvents{
        padding-left: 5px;
    }
    .upperEventDiv{
        width: 210px;
        flex-direction: column;
        padding: 20px;
    }
    .eventImage{
        width: 60px;
        height: 60px;
    }
    .eventDivInfo{
        width: 90px;
        margin-bottom: 5px;
    }
    .eventDate, .dateP, .eventLocation, .locationP{
        font-size: x-small;
    }
    .eventDiv {
        margin-left: 50px;
        width: 210px;
        padding: 0px;
    }
    .selectEvent{
        font-size: 12px;
    }
}
/*330*/

@media(max-width: 330px){
    #sectionEvents{
        padding-left: 00px;
    }
}
