#divHome{
    width: 100vw;
    background-color: var(--darker-background-color);
    display: flex;
}
#sectionEvents{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--darker-background-color);
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
    margin-top: 150px;
    margin-left: 170px;
}
#sectionEvents h2{
    color: var(--basic-letter-color);
    margin-bottom: 30px;
}
.upperEventDiv{
    width: 550px;
    height: fit-content;
    border: solid 3px var(--basic-border-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--basic-background-color);
    margin-bottom: 30px;
}
.eventImage{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.eventDivInfo{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
}
.eventDate{
    font-weight: 700;
    line-height: 1.3;
}
.dateP{
    color: black;
    font-weight: 500;
}
.eventLocation{
    font-weight: 700;
    line-height: 1.3;
}
.locationP{
    color: black;
    font-weight: 500;
}

/*810px*/
@media(max-width: 810px){
    .upperEventDiv{
        width: 450px;
    }
    .eventImage{
        width: 120px;
        height: 120px;
    }
    .eventDivInfo{
        width: 200px;
    }
}

/*700px*/
@media(max-width: 700px){
    #sectionEvents{
        margin-left: 120px;
    }
    .upperEventDiv{
        width: 350px;
    }
    .eventImage{
        width: 100px;
        height: 100px;
    }
    .eventDivInfo{
        width: 150px;
    }
    .eventDivInfo h3{
        font-size: medium;
    }
    .eventDate, .dateP, .eventLocation, .locationP, .eventDivInfo a{
        font-size: small;
    }
}

/*550px*/
@media(max-width: 550px){
    #sectionEvents{
        margin-left: 90px;
    }
    .upperEventDiv{
        width: 290px;
    }
    .eventImage{
        width: 80px;
        height: 80px;
    }
    .eventDivInfo{
        width: 120px;
    }
    .eventDate, .dateP, .eventLocation, .locationP, .eventDivInfo a{
        font-size: smaller;
    }
}

/*440px*/
@media(max-width: 440px){

    #sectionEvents{
        padding-left: 30px;
        margin-left: 0px;
    }
    .upperEventDiv{
        width: 290px;
        margin-left: 40px;
    }
    .eventImage{
        width: 80px;
        height: 80px;
    }
    .eventDivInfo{
        width: 120px;
    }
    .eventDate, .dateP, .eventLocation, .locationP, .eventDivInfo a{
        font-size: smaller;
    }
}

/*360px*/
@media(max-width: 360px){
    #sectionEvents h2{
        font-size: 25px;
    }
    #sectionEvents{
        padding-left: 25px;
    }
    .upperEventDiv{
        width: 210px;
    }
    .eventImage{
        width: 60px;
        height: 60px;
    }
    .eventDivInfo{
        width: 90px;
    }
    .eventDate, .dateP, .eventLocation, .locationP, .eventDivInfo a{
        font-size: x-small;
    }
}
/*270px*/
@media(max-width: 270px){
    #sectionEvents{
        padding-left: 30px;
    }
}